  /* sidebar */
  #sidebar {
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: cadetblue;
      height: 100%;
      width: 210px;
      z-index: 0;
  }
  .side-ul{
      margin-top: 55px;
      list-style: none;
  }
  .side-icon{
      padding-left:25px;
      line-height: 60px;
      color: white;
      font-size: 20px;
      text-decoration: none;
  }
  
  .icon1{
    position: fixed;
    top: 80px;
    left: 0px;
  }
  
  .icon2{
    position: fixed;
    top: 140px;
    left: 0px;
  }
  
  .icon3{
    position: fixed;
    top: 200px;
    left: 0px;
  }
  
  .icon4{
      position: fixed;
      bottom: 15px;
      left: 0px;
  }
  
  .tangen
  {
    position: fixed;
    left: 232px;
    top:70px;
  }
  
  .tangenregi
  {
    width: 1000px;
  }
  
  .text_table
  {
    border-color: silver;
    text-align: center;
  }
  
  .room_title
  {
    font-weight: bold
  }
  
  .chat_area
  {
    position: fixed;
    top: 0px;
    Right: 0px;
    left: 900px;
    height: 100%;
    /*width: 38%;*/
    z-index: -1;
    background-color: gainsboro;
  }
  
  .chat_text_area
  {
    /*position: fixed;*/
    /*top: 60px;*/
    Right: 0px;
    left: 900px;
    height: 95%;
    /*width: 38%;*/
    z-index: -1;
    background-color: gainsboro;
    overflow-y: scroll;
  }
  
  .input_text
  {
    position: absolute;
    /*bottom: 2px;*/
    bottom: 8px;
    margin-left: 5px;
    width: 77%;
    border-radius: 30px;
    border-width: 0px;
    height: 25px;
  }
  
  .text_send
  {
    position: absolute;
    bottom: 8px;
    right: 4px;
    color: #fff;
    background-color: #227dc7;
    border-width: 0px;
    width: 10%;
    border-radius: 30px;
    margin-left: 1px;
    height: 25px;
  }
  
  .chat_area_title
  {
    color: gray;
    margin-left: 5px;
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .main_table
  {
      position: fixed;
      left: 228px;
      width: 83%;
      top: 70px;
      z-index: 0;
  }
  
  .video 
  {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  }
  
  .video iframe
  {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  }
  
  .content_area
  {
    background-color: gray;
    color: white;
    border-radius: 5px;
    margin: 10px;
    margin-top: 0px;
    width: auto;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .sender
  {
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .upload-file 
  {
    display: none;
  }
  
  .upload-label
  {
    position: absolute;
    bottom: 0px;
    right: 11.3%;
    height: 25px;
    text-align: center;
    border-radius: 30px;
    width: 10%;
    color: #ffffff;
    background-color: gray;
    cursor: pointer;
  }
  
  .padarea
  {
    height: 50px;
  }
  
  .content_text
  {
    margin-bottom: 0px;
  }
  
  .content_attached
  {
    margin-bottom: 5px;
  }
  
  .chart
  {
    position: absolute;
    left: 155px;
    width: 900px;
    height: 38%;
    top: 60px;
  }
  
  .chart_title
  {
    position: absolute;
    left: 240px;
    font-weight: bold;
    font-size: medium;
  }
  
  .progress_table
  {
    position: absolute;
    top: 48%;
    left: 240px; 
    width: 780px;
    color: gray;
  }
  
  .progress_title
  {
    position: absolute;
    top: 44%;
    left: 240px; 
    font-weight: bold;
    font-size: medium;
  }
  
  .news_area
  {
    position: fixed;
    top: 0px;
    Right: 0px;
    left: 1050px;
    height: 100%;
    /*width: 38%;*/
    z-index: -1;
    background-color: gainsboro;
  }
  
  .news_title
  {
    position: fixed;
    top: 65px;
    left: 1060px;
    font-weight: bold;
    color: gray;
  }
  
  .news_post_date
  {
    position: fixed;
    top: 95px;
    left: 1060px;
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
  
  .news_content_text
  {
    position: fixed;
    top: 135px;
    left: 1060px;
    color: black;
    font-size: 14px;
  }
  
  
  .news_content_title
  {
    position: fixed;
    top: 115px;
    left: 1060px;
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
  
  .news_content_img
  {
    position: fixed;
    top: 160px;
    left: 1060px;
  }
  
  .record_txt
  {
    width: 90px;
    height: 25px;
  }
  
  .record_btn
  {
    color: #fff;
    background-color: cadetblue;
    border-width: 0px;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .paginate
  {
    position: absolute;
    bottom: 20px;
    left: 50%;
  }
  
  .delete_btn
  {
    position: absolute;
    top: 0%;
    width: 165px;
    color: #fff;
    background-color: #db7093;
    border-width: 0px;
    border-radius: 5px;
    padding-top: 4px;
    margin-left: 615px;
  }
  
  .arrow
  {
    color: cadetblue;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .join_btn
  {
    color: #fff;
    background-color: cadetblue;
    border-width: 0px;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .mainheader
  {
    z-index: 1;
  }